---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <section id="Faq">
        <h2><span> Frequently Asked Questions</span></h2>
    
        <div>
          <h3>Why should I go to a denturist?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
            praesentium iste facere adipisci facilis illum consequuntur autem esse,
            officia eligendi, quas odit perspiciatis sint reprehenderit, ipsum
            incidunt architecto minima. Modi. In, iste sequi? Nihil nulla aperiam
            quidem provident officia modi sint in maiores illo vel numquam laborum
            eveniet ex, ullam obcaecati natus itaque! Accusantium commodi explicabo
            temporibus quas eaque alias?
          </p>
        </div>
    
        <div>
          <h3>I broke my dentures. Can it be repaired?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
            praesentium iste facere adipisci facilis illum consequuntur autem esse,
            officia eligendi, quas odit perspiciatis sint reprehenderit, ipsum
            incidunt architecto minima. Modi. In, iste sequi? Nihil nulla aperiam
            quidem provident officia modi sint in maiores illo vel numquam laborum
            eveniet ex, ullam obcaecati natus itaque! Accusantium commodi explicabo
            temporibus quas eaque alias?
          </p>
        </div>
    
        <div>
          <h3>How long do dentures last?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
            praesentium iste facere adipisci facilis illum consequuntur autem esse,
            officia eligendi, quas odit perspiciatis sint reprehenderit, ipsum
            incidunt architecto minima. Modi. In, iste sequi? Nihil nulla aperiam
            quidem provident officia modi sint in maiores illo vel numquam laborum
            eveniet ex, ullam obcaecati natus itaque! Accusantium commodi explicabo
            temporibus quas eaque alias?
          </p>
        </div>
    
        <div>
          <h3>How do I clean my dentures?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
            praesentium iste facere adipisci facilis illum consequuntur autem esse,
            officia eligendi, quas odit perspiciatis sint reprehenderit, ipsum
            incidunt architecto minima. Modi. In, iste sequi? Nihil nulla aperiam
            quidem provident officia modi sint in maiores illo vel numquam laborum
            eveniet ex, ullam obcaecati natus itaque! Accusantium commodi explicabo
            temporibus quas eaque alias?
          </p>
        </div>
    
        <div>
          <h3>How do dentures feel?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
            praesentium iste facere adipisci facilis illum consequuntur autem esse,
            officia eligendi, quas odit perspiciatis sint reprehenderit, ipsum
            incidunt architecto minima. Modi. In, iste sequi? Nihil nulla aperiam
            quidem provident officia modi sint in maiores illo vel numquam laborum
            eveniet ex, ullam obcaecati natus itaque! Accusantium commodi explicabo
            temporibus quas eaque alias?
          </p>
        </div>
      </section>
</MainLayout>