---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section id="Home">
    <h1>
      <span>Our Committment</span>
    </h1>
    <p>
      We are here to provide you with comprehensive denture treatments, deliver
      quality denture services
    </p>
  </section>

  <section id="About">
    <h1>
      <span>Our Denturist</span>
    </h1>
    <h2>K. Wong Denturist and Owner</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. A ullam eveniet
      consequatur illum modi mollitia, facilis laborum molestias harum ipsam!
      Repudiandae, ducimus. Itaque inventore non, qui distinctio atque placeat
      laudantium. Dicta, quos atque rem magnam tenetur minima assumenda magni
      in, blanditiis, officia vitae vel aliquid delectus natus accusamus vero
      dignissimos architecto recusandae nihil iste unde. Saepe deserunt
      repudiandae dolores nam!
    </p>
  </section>

  <section id="Services"></section>

  <section id="Faq"></section>

  <section id="Contact"></section>
</MainLayout>
