---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section id="Home">
    <h1>
      <span>Our Committment</span>
    </h1>
    <p>
      We are here to provide you with comprehensive denture treatments, deliver
      quality denture services
    </p>
  </section>



  <section id="Services">
    <h1><span> Our Services</span></h1>

    <section>
      <div>
        <h2>Complete Dentures</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quis
          aut dolor aliquam unde dignissimos perspiciatis quod voluptates,
          quidem eveniet ratione optio sit, dolores inventore suscipit, ex
          molestias. Mollitia, quaerat! Animi nulla, reprehenderit architecto
          quo eveniet tenetur culpa iste necessitatibus minima corporis
          cupiditate! Corrupti, ut fugiat, quasi esse iste, pariatur ratione non
          laborum unde tempora veritatis perferendis ea dolorum ducimus!
        </p>
      </div>

      <div>
        <h2>Partial Dentures</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas,
          modi laudantium. Voluptatum rerum ab nulla dolor harum, fugit autem
          quisquam fuga, omnis corrupti perferendis sint exercitationem fugiat
          sunt voluptates excepturi? Veritatis cum blanditiis fugit, tempore
          molestiae autem reiciendis placeat architecto mollitia odit
          accusantium! Laborum iure fugiat eveniet odio dolor facilis voluptate,
          rerum nam unde delectus perspiciatis labore! Possimus, dolore vitae?
        </p>
      </div>
    </section>
  </section>



</MainLayout>
