---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section id="Home">
    <h1>Our Committment</h1>
    <p>
      As the professionals managing your dentures, our primary goal is to offer
      thorough denture treatments and top-notch services to enhance your oral
      health and beyond.
    </p>
  </section>

  <section id="About">
    <h1>Our Denturist</h1>
    <h2></h2>
    <p></p>
  </section>

  <section id="Services"></section>

  <section id="Faq"></section>

  <section id="Contact"></section>
</MainLayout>
