---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section id="Home">
    <h1>
      <span>Our Committment</span>
    </h1>
    <p>
      We are here to provide you with comprehensive denture treatments, deliver
      quality denture services
    </p>
  </section>

  <section id="About">
    <h1>
      <span>Our Denturist</span>
    </h1>
    <h2>K. Wong Denturist and Owner</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. A ullam eveniet
      consequatur illum modi mollitia, facilis laborum molestias harum ipsam!
      Repudiandae, ducimus. Itaque inventore non, qui distinctio atque placeat
      laudantium. Dicta, quos atque rem magnam tenetur minima assumenda magni
      in, blanditiis, officia vitae vel aliquid delectus natus accusamus vero
      dignissimos architecto recusandae nihil iste unde. Saepe deserunt
      repudiandae dolores nam!
    </p>
  </section>

  <section id="Services">
    <h1><span> Our Services</span></h1>

    <section>
      <div>
        <h2>Complete Dentures</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quis
          aut dolor aliquam unde dignissimos perspiciatis quod voluptates,
          quidem eveniet ratione optio sit, dolores inventore suscipit, ex
          molestias. Mollitia, quaerat! Animi nulla, reprehenderit architecto
          quo eveniet tenetur culpa iste necessitatibus minima corporis
          cupiditate! Corrupti, ut fugiat, quasi esse iste, pariatur ratione non
          laborum unde tempora veritatis perferendis ea dolorum ducimus!
        </p>
      </div>

      <div>
        <h2>Partial Dentures</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas,
          modi laudantium. Voluptatum rerum ab nulla dolor harum, fugit autem
          quisquam fuga, omnis corrupti perferendis sint exercitationem fugiat
          sunt voluptates excepturi? Veritatis cum blanditiis fugit, tempore
          molestiae autem reiciendis placeat architecto mollitia odit
          accusantium! Laborum iure fugiat eveniet odio dolor facilis voluptate,
          rerum nam unde delectus perspiciatis labore! Possimus, dolore vitae?
        </p>
      </div>
    </section>
  </section>

  <section id="Faq">
    <h2><span> Frequently Asked Questions</span></h2>

    <div>
      <h3>Why should I go to a denturist?</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
        praesentium iste facere adipisci facilis illum consequuntur autem esse,
        officia eligendi, quas odit perspiciatis sint reprehenderit, ipsum
        incidunt architecto minima. Modi. In, iste sequi? Nihil nulla aperiam
        quidem provident officia modi sint in maiores illo vel numquam laborum
        eveniet ex, ullam obcaecati natus itaque! Accusantium commodi explicabo
        temporibus quas eaque alias?
      </p>
    </div>

    <div>
      <h3>I broke my dentures. Can it be repaired?</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
        praesentium iste facere adipisci facilis illum consequuntur autem esse,
        officia eligendi, quas odit perspiciatis sint reprehenderit, ipsum
        incidunt architecto minima. Modi. In, iste sequi? Nihil nulla aperiam
        quidem provident officia modi sint in maiores illo vel numquam laborum
        eveniet ex, ullam obcaecati natus itaque! Accusantium commodi explicabo
        temporibus quas eaque alias?
      </p>
    </div>

    <div>
      <h3>How long do dentures last?</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
        praesentium iste facere adipisci facilis illum consequuntur autem esse,
        officia eligendi, quas odit perspiciatis sint reprehenderit, ipsum
        incidunt architecto minima. Modi. In, iste sequi? Nihil nulla aperiam
        quidem provident officia modi sint in maiores illo vel numquam laborum
        eveniet ex, ullam obcaecati natus itaque! Accusantium commodi explicabo
        temporibus quas eaque alias?
      </p>
    </div>

    <div>
      <h3>How do I clean my dentures?</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
        praesentium iste facere adipisci facilis illum consequuntur autem esse,
        officia eligendi, quas odit perspiciatis sint reprehenderit, ipsum
        incidunt architecto minima. Modi. In, iste sequi? Nihil nulla aperiam
        quidem provident officia modi sint in maiores illo vel numquam laborum
        eveniet ex, ullam obcaecati natus itaque! Accusantium commodi explicabo
        temporibus quas eaque alias?
      </p>
    </div>

    <div>
      <h3>How do dentures feel?</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
        praesentium iste facere adipisci facilis illum consequuntur autem esse,
        officia eligendi, quas odit perspiciatis sint reprehenderit, ipsum
        incidunt architecto minima. Modi. In, iste sequi? Nihil nulla aperiam
        quidem provident officia modi sint in maiores illo vel numquam laborum
        eveniet ex, ullam obcaecati natus itaque! Accusantium commodi explicabo
        temporibus quas eaque alias?
      </p>
    </div>
  </section>

  <section id="Contact">
    <h1>CONTACT</h1>
    <h2>Get in touch</h2>
    <p>
      See our contact information below and we will get back to you as soon as
      possible
    </p>

    <ul>
      <li>
        <i class="fa-sharp fa-solid fa-envelope"></i>
        <span></span>
      </li>

      <li><i class="fa-solid fa-phone"></i>
        <span> (416) 616-3373</span>
        
       
      </li>

      <li>
        <i class="fa-sharp fa-solid fa-house"></i>
        <span>
          570 Dundas Street West
        </span>
      </li>
    </ul>

    <h3>Or Fill out the form below:</h3>

    <form action="/submit" method="POST" netlify>
      <div>
      <!-- <input type="hidden" name="access_key" value="1559e601-1e30-4ee0-be81-9d97afc7434a"> -->
  
    
    <label for="name">Name (required)</label>
    <input  type="text" id="name" required placeholder="Name" name="name">
    
    <label for="email">Email (required)</label>
    <input type="text" id="email" required placeholder="Email" name="email">
    
    <label for="message">Message (required)</label>
    <textarea class="message" name="message" id="" cols="30" rows="10" required placeholder="Message*"></textarea>
    
  
    <button class="button">SUBMIT</button>
    </div>

    </form>

  </section>
</MainLayout>
