---
import Navigation from "../layouts/Navigation.astro";
import Footer from "../layouts/Footer.astro";
import Header from "../layouts/Header.astro";
import Scripts from "../layouts/Scripts.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Header />
  </head>

  <body>
    <div class="hamburger">
      <div class="bar"></div>
    </div>

    <Navigation />
    <main>
      
    </main>
    <!-- <a href="#" class="top">
      <i class="fa-solid fa-arrow-up fa-3x"></i>
    </a> -->

    <Footer />
    <Scripts />
  </body>
</html>
