<footer>
  <section>
    <p>Business Hours</p>
    <p>Monday to Saturday 9:00am to 5:00pm</p>
    <p>Sunday CLOSED</p>
  </section>

  <section>
    <p>Contact</p>
    <p>(416) 616-3373</p>
    <p>570 Dundas St W</p>
    <p>Toronto, ON M5T 1H5</p>
    <p>lorem@gmail.com</p>
  </section>

  <section>
    <a href="#">Privacy Policy</a>
    <a href="#">Getting Use to your new Dentures</a>
  </section>
</footer>
