<footer>
  <section>
    <h1>Business Hours</h1>
    <p>Monday to Saturday 9:00AM to 5:00PM</p>
    <p>Sunday CLOSED</p>
  </section>

  <section>
    <h1>Contact</h1>
    <p>(416) 616-3373</p>
    <p>570 Dundas St W</p>
    <p>Toronto, ON M5T 1H5</p>
    <p>lorem@gmail.com</p>
  </section>

  <section>
    <h1>Useful Links</h1>
    <a href="/privacy">Privacy Policy</a>
    <a href="#">Getting Use to your new Dentures</a>
  </section>
</footer>
