<!-- font awesome -->
<script src="https://kit.fontawesome.com/493b3e3710.js" crossorigin="anonymous"
></script>

<!-- stylesheet -->

<link rel="stylesheet" href="/css/style.css" />

<title>Royal Denture Clinic</title>
