<nav>
  <navbar>
    <a href="#Home" class="brand">ROYAL DENTURE CLINIC</a>
    <a href="#Home">Home</a>
    <a href="#About">About Us</a>
    <a href="#Services">Services</a>
    <a href="#Faq">FAQ</a>
    <a href="#Contact">Contact</a>
  </navbar>
</nav>
