<!-- <nav>
  <navbar>
    <a href="http://localhost:4321/#Home" class="brand">ROYAL DENTURE CLINIC</a>
    <a href="http://localhost:4321/#Home">Home</a>
    <a href="http://localhost:4321/#About">About Us</a>
    <a href="http://localhost:4321/#Services">Services</a>
    <a href="http://localhost:4321/#Faq">FAQ</a>
    <a href="http://localhost:4321/#Contact">Contact</a>
  </navbar>
</nav> -->


<nav>
  <navbar>
    <a href="https://dentureclinic.netlify.app/#Home" class="brand">ROYAL DENTURE CLINIC</a>
    <a href="https://dentureclinic.netlify.app/#Home">Home</a>
    <a href="https://dentureclinic.netlify.app/#About">About Us</a>
    <a href="https://dentureclinic.netlify.app/#Services">Services</a>
    <a href="https://dentureclinic.netlify.app/#Faq">FAQ</a>
    <a href="https://dentureclinic.netlify.app/#Contact">Contact</a>
  </navbar>
</nav>
